{% extends "main.html" %}
{% block hero %}

<head>
    <link rel="stylesheet" href="{{ 'assets/stylesheets/home_style.css' | url }}">
</head>

<div class="home-container-level-0">
    <div class="collection-showcase-mini">
        <div class="div">
            <div class="div-2">
                <p id="VA">Auralization</p>
            </div>
            <a href="{{ 'VA/' | url }}" class="button">
                <div _text=""></div>
            </a>
        </div>
    </div>
    <div class="home-container-level-1">
        <div class="home-container-level-0" id="Sched">
            <a href="{{ 'ITASimulationScheduler/' | url }}" class="button-4" data-el="a-1">
                Simulation Scheduling
            </a>
        </div>
        <div class="home-container-level-2">
            <div class="home-container-level-0">
                <div class="collection-showcase-mini-2" id="GA">
                    <div class="collection-child">
                        <div class="div-4">
                            <p>Outdoor sound
                                <br />
                                propogation
                            </p>
                        </div>
                        <a href="{{ 'GA/' | url }}" class="button-2">
                            <div _text=""></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="home-container-level-0">
                <div class="collection-showcase-mini-3" id="RAVEN">
                    <div class="collection-child">
                        <div class="div-6">
                            <p>Room acoustic
                                <br />
                                simulation&nbsp;
                            </p>
                        </div>
                        <a href="{{ 'RAVEN/' | url }}" class="button-3">
                            <div _text=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bkg-svg-container">
    <svg height="100%" width="100%" id="paths" style="pointer-events: none;stroke:var(--md-typeset-color);fill:none;stroke-width:20;stroke-linejoin: round;">
    </svg>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/assets/javascripts/path-creator.js"></script>

{% endblock %}
{% block content %}
{% endblock %}