.collection-list {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 991px) {
    .collection-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

.collection-showcase-mini {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    background-image: url("../images/VR_Labor_Dark20-2560.png");
    background-image: -webkit-image-set(url("../images/VR_Labor_Dark20-1920.png") 1x,
            url("../images/VR_Labor_Dark20-2560.png") 2x);
    background-image: image-set(url("../images/VR_Labor_Dark20-1920.png") 1x,
            url("../images/VR_Labor_Dark20-2560.png") 2x);
    background-repeat: no-repeat;
    width: auto;
    height: 600px;
    flex-grow: 1;
}

@media (max-width: 991px) {
    .collection-showcase-mini {
        width: 100%;
    }
}

.div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-self: stretch;
    text-align: left;
    position: relative;
    margin: auto 0 30px;
    padding: 20px 20px 0;
}

.div-2 {
    position: relative;
    height: auto;
    text-align: center;
    color: var(--md-typeset-color);
    font: italic 34px var(--md-text-font), sans-serif;
}

.button {
    all: unset;
    flex-direction: column;
    position: relative;
    appearance: none;
    color: var(--md-footer-bg-color--dark);
    text-align: center;
    cursor: pointer;
    width: auto;
    font-size: 14px;
    align-self: stretch;
    text-decoration: none;
    background-image: url("../images/VA_logo_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 400px;
    padding: 15px 25px;
}

a.button:hover {
    background-image: url("../images/VA_logo_white_circle_white.svg");
}

.collection-showcase-mini-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    justify-content: center;
    height: 434px;
    background-image: url("../images/urban_scene_with_sound_paths-Dark30-1920.jpg");
    background-image: -webkit-image-set(url("../images/urban_scene_with_sound_paths-Dark30-960.jpg") 1x,
            url("../images/urban_scene_with_sound_paths-Dark30-1920.jpg") 2x);
    background-image: image-set(url("../images/urban_scene_with_sound_paths-Dark30-960.jpg") 1x,
            url("../images/urban_scene_with_sound_paths-Dark30-1920.jpg") 2x);
    background-repeat: no-repeat;
    width: auto;
    flex-grow: 1;
    align-self: stretch;
    border-radius: 17px;
}

@media (max-width: 991px) {
    .collection-showcase-mini-2 {
        width: 100%;
    }
}

.collection-child {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-self: stretch;
    text-align: left;
    position: relative;
}

.collection-child a {
    margin: 1rem;
}

.div-4 {
    position: relative;
    height: auto;
    text-align: center;
    color: var(--md-typeset-color);
    font: italic 34px var(--md-text-font), sans-serif;
}


.button-2 {
    all: unset;
    flex-direction: column;
    position: relative;
    appearance: none;
    color: var(--md-footer-bg-color--dark);
    text-align: center;
    cursor: pointer;
    width: auto;
    font-size: 14px;
    align-self: stretch;
    text-decoration: none;
    background-image: url("../images/GA_logo_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 200px;
}

.button-2:hover {
    background-image: url("../images/GA_logo_white_circle_white.svg");
}

.collection-showcase-mini-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    justify-content: center;
    height: 434px;
    background-image: url("../images/Eurogress_Europasaal-Dark20-1920.png");
    background-image: -webkit-image-set(url("../images/Eurogress_Europasaal-Dark20-960.png") 1x,
            url("../images/Eurogress_Europasaal-Dark20-1920.png") 2x);
    background-image: image-set(url("../images/Eurogress_Europasaal-Dark20-960.png") 1x,
            url("../images/Eurogress_Europasaal-Dark20-1920.png") 2x);
    background-repeat: no-repeat;
    width: auto;
    flex-grow: 1;
    align-self: stretch;
    border-radius: 17px;
}

@media (max-width: 991px) {
    .collection-showcase-mini-3 {
        width: 100%;
    }
}

.div-6 {
    position: relative;
    height: auto;
    text-align: center;
    color: var(--md-typeset-color);
    font: italic 34px var(--md-text-font), sans-serif;
}

.button-3 {
    all: unset;
    flex-direction: column;
    position: relative;
    appearance: none;
    color: var(--md-footer-bg-color--dark);
    text-align: center;
    cursor: pointer;
    width: auto;
    font-size: 14px;
    align-self: stretch;
    text-decoration: none;
    background-image: url("../images/RAVEN_logo_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 200px;
}

a.button-3:hover {
    background-image: url("../images/RAVEN_logo_white_circle_white.svg");
}

.div-7 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--md-default-bg-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--md-default-bg-color);
    padding: 0 20px 8px;
}

@media (max-width: 991px) {
    .div {
        padding-bottom: 8px;
    }
}

@media (max-width: 640px) {
    .div {
        padding: 8px 0 13px;
    }
}

.centered-box {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1024px;
    margin: 0 auto auto;
}

.button-4 {
    all: unset;
    display: flex;
    flex-direction: column;
    position: relative;
    appearance: none;
    background-color: var(--md-footer-bg-color--dark);
    color: var(--md-typeset-color);
    border-radius: 5px;
    border-color: var(--md-typeset-color);
    border-width: 5px;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    margin: 21px auto 0;
    padding: 15px 25px;
    font: 24px var(--md-text-font), sans-serif;
}

a.button-4:hover {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-typeset-color);
}

.home-container-level-0 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-container-level-1 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    /* align-items: center; */
    align-items: stretch;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home-container-level-2 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}

.home-container-level-0>* {
    flex-basis: 100%;
    width: 100%;
}

.home-container-level-1>* {
    flex-basis: 100%;
    width: 100%;
}

.home-container-level-1 .button-4 {
    margin: 0;
    width: 60%;
}

.home-container-level-2>* {
    flex-basis: 100%;
    width: 100%;
}

.home-container-level-2 * {
    width: auto;
}

@media (max-width: 800px) {
    .home-container-level-1 {
        flex-direction: row;
    }

    .home-container-level-1>div:first-child {
        width: auto;
        height: auto;
        flex-basis: auto;
    }

    .home-container-level-1 .button-4 {
        writing-mode: vertical-lr;
        -webkit-writing-mode: vertical-lr;
        text-orientation: mixed;
        width: auto;
        transform: rotate(180deg);
    }

    .home-container-level-0>* {
        flex-basis: 60%;
        width: 100%;
    }

    .home-container-level-1>* {
        flex-basis: 100%;
        width: 100%;
    }

    .home-container-level-1 .button-4 {
        width: auto;
    }

    .home-container-level-2 {
        flex-direction: column;
    }

    .home-container-level-2>* {
        flex-basis: 100%;
        width: 100%;
    }
}