<!-- Determine class according to state -->
{% if not class %}
  {% set class = "md-tabs__link" %}
  {% if nav_item.active %}
    {% set class = class ~ " md-tabs__link--active" %}
  {% endif %}
{% endif %}

<!-- Main navigation item with nested items -->
{% if nav_item.children %}
  {% set title = title | d(nav_item.title) %}

  <!-- Determine all nested items that are index pages -->
  {% set indexes = [] %}
  {% if "navigation.indexes" in features %}
    {% for nav_item in nav_item.children %}
      {% if nav_item.is_index and not index is defined %}
        {% set _ = indexes.append(nav_item) %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if not indexes %}
    {% set index = nav_item.children | first %}
  {% else %}
    {% set index = indexes | first %}
  {% endif %}
  
  {% if nav_item.children | length > 1 %}
    <li class="md-tabs__item dropdown">
      <a href="{{ index.url | url }}" class="{{ class }} dropdown__title">
        {{ title }}
        <span class="dropdown__emoji">
          {% include ".icons/material/menu-down.svg" %} 
        </span>
      </a>

      <ul class="dropdown__menu">
        {% for nav_item_child in nav_item.children %}
          {% if nav_item_child != indexes | first and nav_item_child != nav_item.children | first %}
            <li class="">
              {% if nav_item_child.children %}
                {% set title_child = title_child | d(nav_item_child.title) %}
                {% set nav_item_child = nav_item_child.children | first %}
                <a href="{{ nav_item_child.url | url }}" class="dropdown__item">
                  {{ title_child }}
                </a>
              {% else %}
                <a href="{{ nav_item_child.url | url }}" class="dropdown__item">
                  {{ nav_item_child.title }}
                </a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li class="md-tabs__item dropdown">
      <a href="{{ index.url | url }}" class="{{ class }} dropdown__title">
        {{ title }}
      </a>
    </li>
  {% endif %}

<!-- Main navigation item -->
{% else %}
  <li class="md-tabs__item">
    <a href="{{ nav_item.url | url }}" class="{{ class }}">
      {{ nav_item.title }}
    </a>
  </li>
{% endif %}

